<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

    <!--http双功客户端配置节点-->
    <section name="HttpTowWayClient" type="OneCoin.Service.HttpTwoWay.Client.Config.HttpTowWayClientSectionHandler, OneCoin.Service.HttpTwoWay.Client, Version=1.0.0.0, Culture=neutral" />

  </configSections>

  <connectionStrings>
    <!--<add name="dbconnection" providerName="System.Data.SqlClient" connectionString="DataSource=192.168.0.250;UserId=sa; Password=123123;Database=eboparkplatformtest;Allow Zero Datetime=true;charset=utf8;MinimumPoolSize=3;maximumpoolsize=200;" />-->
    <add name="dbconnection" providerName="System.Data.SqlClient" connectionString="DataSource=192.168.0.5;UserId=sa; Password=123123;Database=jiesuan;Allow Zero Datetime=true;charset=utf8;MinimumPoolSize=3;maximumpoolsize=200;" />
  </connectionStrings>


  <appSettings>
 
    <!--Reids相关 Begin-->
    <add key="DefaultRedisDb" value="1" />
    <add key="PoolSize" value="20" />
    <add key="PoolTimeOutSeconds" value="10" />
    <add key="ReadWriteHosts" value="192.168.0.5:6379" />
    <!--Reids相关 End-->

    <!--消息服务地址-->
    <add key="MessageUrl" value="http://192.168.0.5:8082/" />


    <!--图片存储地址 BEGIN-->
    <add key="USER_AGENT" value="" />
    <add key="ACCESS_KEY" value="giJQSarbtz7xk09mzNj1T8MLhCeXTOrHPj9-Sq_2" />
    <add key="SECRET_KEY" value="7nGQ3C_0xOWPxOtXev381psCC4AxSoSJpr4LCY4b" />
    <add key="RS_HOST" value="http://rs.qiniu.com/" />
    <add key="UP_HOST" value="http://upload.qiniu.com/" />
    <add key="RSF_HOST" value="" />
    <add key="PREFETCH_HOST" value="" />

    <!--空间名称-->
    <add key="ResourceBucket" value="test" />
    <!--空间访问域名-->
    <add key="ResourceDomain" value="http://7xodpu.com1.z0.glb.clouddn.com"/>
    <!--图片存储地址 END-->


    <!--支付相关 BEGIN-->
    <add key="Security" value="http://www.iboche.com:8500/Security"/>
    <!--银联支付查询URL-->
    <add key="unionPayUrl" value="https://mgate.unionpay.com/gateway/merchant/" />

    <!--支付异步反馈的URL-->
    <add key="paymentFeedbackUrl" value="http://192.168.0.96:8056/PayPlatform/"/>
    <!--微信支付参数-->
    <add key="weixinPayUrl" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
    <add key="IPadress" value="192.168.0.161"/>
    <add key="filepath" value="192.168.0.161"/>
    <!--支付相关 END-->


    <!--短信配置-->
    <!--<add key="SmsConfig" value="type=lingkai;username=LKSDK0002545;pwd=ebopark2015hr@;server=http://mb345.com:999/WS/linkWS.asmx"/>-->
    <add key="SmsConfig" value="type=chanzorService;username=eboche;pwd=152433;server=http://sms.chanzor.com:8001/sms.aspx?action=send"/>


    <add key="ServiceName" value="LpnServiceTaskHost"/>
    <add key="DisplayName" value="宜泊云服务任务"/>


    <!--微信消息配置Begin-->
    <!--入场-->
    <add key="ParkInUrl" value="http://wx.ebopark.com/wx/redirect_balance.html" />
    <!--出场-->
    <add key="ParkOutUrl" value="http://wx.ebopark.com/wx/redirect_recorder.html" />
    <!--微信消息配置Begin-->

    <!--充值指定商户(151214)-->
    <add key="RechargePartner" value="RechargePartner"/>
    <!--微信公众号指定商户(151214)-->
    <add key="WxPartner" value="WxPartner"/>
    
    
   <!--支付配置模块-->
    <add key="OneCoin.Payment.PayConfig" value="OneCoin.Service.Bll.Logic.Partnerpay.PayConfigBll,OneCoin.Service.Bll"/>
    <!--支付相关 END-->
    
  </appSettings>


  <!--http双功客户端配置-->
  <HttpTowWayClient ReSendMinInterval="3" MqCacheWay="redis"  DefaultDb="0" PoolSize="200" PoolTimeOutSeconds="30" ReadWriteHosts="192.168.0.5:6379"></HttpTowWayClient>

 

  <!--log4net 日志配置-->
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="TraceAppender" />
    </root>

    <appender name="ErrorAppender" type="log4net.Appender.FileAppender">
      <param name="AppendToFile" value="true" />
      <param name="File" type="log4net.Util.PatternString" value="%logs/Error/%date{yyyyMM}/%date{yyyyMMdd}.txt" />
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] [%F:%L] - %m%n%n%n%n" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <!--非独占打开文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.FileAppender">
      <param name="AppendToFile" value="true" />
      <param name="File" type="log4net.Util.PatternString" value="%logs/Info/%date{yyyyMM}/%date{yyyyMMdd}.txt" />
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] [%F:%L] - %m%n%n%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <!--非独占打开文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.FileAppender">
      <param name="AppendToFile" value="true" />
      <param name="File" type="log4net.Util.PatternString" value="%logs/Trace/%date{yyyyMM}/%date{yyyyMMdd}.txt" />
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] [%F:%L] - %m%n%n%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
      <Encoding value="UTF-8" />
      <!--非独占打开文件-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

  </log4net>
 
</configuration>