@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/Scripts/j.redirect.js" type="text/javascript"></script>
<script>
    
    $(function () {

        var ret = eval('(@(Html.Raw(ViewBag.Data)))');

        if (ret) {
            if (ret) {
                if (ret.state == 0 && ret.result != null) {
                   // $.redirect(ret.result.extre.payweburl, ret.result.extre.postData);
                    //document.write(ret.result);
                    document.location.href = ret.result.extre.payweburl;
                }
            }
        }   
    })
    

</script>