<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbconnection" providerName="System.Data.SqlClient" connectionString="DataSource=127.0.0.1;UserId=sa; Password=123123;Database=product;Allow Zero Datetime=true;charset=utf8;MinimumPoolSize=3;maximumpoolsize=200;" />
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
