<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="USER_AGENT" value="" />
    <add key="ACCESS_KEY" value="A_FFD7yO69LVqJIyfpDFL_FHl8MykfUIdEdDs5C-" />
    <add key="SECRET_KEY" value="zAvXEfOebTnLWSl_8OMG0JI7oH8kghncA0JiYTrD" />
    <add key="RS_HOST" value="" />
    <add key="UP_HOST" value="" />
    <add key="RSF_HOST" value="" />
    <add key="PREFETCH_HOST" value="" />
  </appSettings>
  
</configuration>